# Common dependencies to run any Ray Serve app
ray[serve]==2.9.3

# Dependencies specific to the Ray Serve app (template Ray Serve app of this repository in this case)
transformers==4.45.2
torch==2.4.1
